.cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 3.5rem;
  font-size: 0.75rem !important;
  padding: 0 0.5rem !important;
}
.cart svg{
  font-size: 1rem;
}
@media (max-width: 768px) {
  .cart h2 {
      visibility: hidden;
      position: absolute;
  }
}