@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");

html {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--dark);
  color: white;
}
h1 {
  font-family: "Roboto Slab", serif;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}
@media (max-width: 768px) {
  .container {
    max-width: 95%;
    padding: 0 1rem;
  }
}

:root {
  --dark-lighter: rgb(48, 48, 48);
  --dark: rgb(32, 32, 32);
  --secondary-dark: rgb(108, 92, 0);
  --secondary: rgb(173, 147, 0);
  --primary-dark: rgb(43, 8, 8);
  --primary-light: rgb(139, 26, 26);
  --primary: rgb(97, 17, 17);
}
